<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <h1>{{heading}}</h1>
    <p>{{aboutus}}</p>
    {{> footer}}
  </body>
</html>
